* {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
}
ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
    text-decoration: none;
   
}

 ul li {
   display: inline-block; 
   
}

ul li a{
    text-decoration: none;
    color: ##000000;
    padding: 0px 0px;
    border: 1px solid #f46a71;
    background-color: #fccdf3;
    transition: 0.6s ease; 
    border-radius: 3px;
}

ul li a:hover {
    background-color: #ef9898;
    color: #97d1df;
}
img {
  width: 100%;
}
body {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 32%, rgba(0,0,0,0.3707509801007699) 100%);
}