* {
    margin: 0;
    padding: 0;
    font-family: Century Gothic; 

    
    
    
}

 
ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
    text-decoration: none;
   
}

 ul li {
   display: inline-block; 
   
}

ul li a{
    text-decoration: none;
    color: ##000000;
    padding: 0px 0px;
    border: 1px solid #f46a71;
    background-color: #fccdf3;
    transition: 0.6s ease; 
    border-radius: 3px;
}

ul li a:hover {
    background-color: #ef9898;
    color: #97d1df;
    
}
form {
  background-image: url('Pedi.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  text-align: center;
  margin-top: -5px;
  height: 200%;
}
img {
  width: 100%;
  margin-top: 25px;
}
img {
  margin-top: -10px;
}
body {
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 32%, rgba(0,0,0,0.3707509801007699) 100%);
}
#book {
  font-size: 30px;
  color: white;
}

a:link {
   color: blue;
 }
 
 a:visited {
   color: purple;
 }
 a:hover {
   color: steelblue;
 }
 a:active {
   color: red;
 }
 #Name,#phone,#mail,#appointment,#submit {
   align-content: center;
   width: 150px;
   text-align: left;
 }
 #submit {
   background-color: #c0e3ec;
 }
 